@charset "UTF-8";
.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
}

:root {
  --white-color: #fafafa;
  --black-color: #333;
  --base-color: #f5f3f2;
  --gray-color: #F0F0F0;
  --gray-color02: #aaa;
  --gray-color03: #787776;
  --gray-color04: #4f4f4f;
}

:root {
  --content-width-sm: 800px;
  --content-width: 936px;
  --content-width-lg: 1080px;
}

/* ---------- utility ---------- */

@media screen and (min-width: 375px) {
  .u_sm-dn {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .u_lg-dn {
    display: none;
  }
}

/* ---------- layout ---------- */

.l_container-sm,
.l_container,
.l_container-lg {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

body {
  margin: 0;
  color: var(--black-color);
  background: var(--base-color);
}

.top_about {
  padding: 80px 0 80px;
}

@media screen and (min-width: 1080px) {
  .top_about {
  padding: 120px 0 120px;
}
}

@media screen and (min-width: 1080px) {
  .top_about_inner {
    width: min(100% - 32px, 1080px);
    margin: 0 auto;
  }
}

.section-title {
    font-size: 32px;
    font-family: "Cinzel";
    font-weight: normal;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 1080px) {
  .section-title {
    font-size: 48px;
}
}

.section-sub {
    font-size: 14px;
    text-align: center;
    justify-content: center;
    font-family: "Cinzel";
    font-weight: normal;
    margin-top: 8px;
    letter-spacing: 0.1em;
}

@media screen and (min-width: 1080px) {
  .section-sub {
    font-size: 20px;
}
}

.top_about_img {
  width: 100%;
  height: auto;
  display: block;
  margin: 80px auto 0;
}

@media screen and (min-width: 1080px) {
  .top_about_img {
  width: 625px;
  margin: 0 0 0;
}
}

@media screen and (min-width: 1080px) {
  .top_about_head {
  text-align: center;
  }
}

@media screen and (min-width: 1080px) {
  .top_about_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
  }
}

.top_about_group {
  width: min(100%, 310px);
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 1080px) {
  .top_about_group {
  width: min(100%, 840px);
  margin: 0 auto;
  padding: 0;
}
}

.top_about_text-title {
  font-size: 20px;
  letter-spacing: 0.46em;
  font-family: "Cinzel";
  font-weight: normal;
  text-align: center;
  margin: 64px 0 0;
  font-family: "Cinzel", serif;
  white-space: nowrap;
}

@media screen and (min-width: 1080px) {
  .top_about_text-title {
  font-size: 36px;
  letter-spacing: 1.07em;
  }
}
.top_about_text-01 {
  margin: 42px 0 0;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-family: "Cinzel";
}

@media screen and (min-width: 1080px) {
  .top_about_text-01 {
  margin: 64px 0 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 32px; 
  }
}

.top_about_text-02 {
  margin: 16px 0 0;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-family: "Cinzel";
}

@media screen and (min-width: 1080px) {
  .top_about_text-02 {
  margin: 48px 0 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 32px; 
  }
}

.top-service-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 80px auto 0;
}

